# Задачи

Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные. 

Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

На сколько ночей в среднем бронируют отели разных типов?

Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

Проанализируйте даты запланированного прибытия. 
– На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов

Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

In [228]:
#Импортируем библиотеки
import pandas as pd
import numpy as np

In [229]:
#Считываем данные и присваиваем их переменной
df = pd.read_csv('bookings.csv', sep = ';')

In [230]:
#Смотрим на размер Датасета
df.shape
# Получили 119390 строки и 21 столбец

(119390, 21)

In [231]:
# Смотрим на типы данных в столбцах
df.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [232]:
# Выводим первые семь строк таблицы
df.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [233]:
# Создаю функцию, которая возводит все слова в нижний регистр и меняет пробелы на андерскор.
def transform_of_titles(some_string):
    return some_string.lower().replace(' ', '_')

In [234]:
df = df.rename( columns =transform_of_titles)

In [235]:
df.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [236]:
#Всего число строк в столбце
num_rows = df.shape[0]
num_rows

119390

In [237]:
#Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.
df[df['is_canceled'] == 0].groupby('country', as_index = False)\
.agg({'is_canceled' : 'count'})\
.sort_values(by = 'is_canceled', ascending = False)\
.head()

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069

In [238]:
#На сколько ночей в среднем бронируют отели разных типов?
df.groupby('hotel', as_index = False)\
.agg( {'stays_total_nights' : 'mean'})\
.round(2)
#Люди бронируют в курортных отелях(Resort Hotel) больше ночей, чем в городских(City Hotel)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [239]:
df.head(30)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,FB,PRT,C,C,Transient,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015-07-01,2015,July,27,1,0,3,...,2,0.0,0,BB,PRT,A,A,Transient,Canceled,2015-05-06
9,Resort Hotel,1,75,2015-07-01,2015,July,27,1,0,3,...,2,0.0,0,HB,PRT,D,D,Transient,Canceled,2015-04-22
10,Resort Hotel,1,23,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,PRT,E,E,Transient,Canceled,2015-06-23
11,Resort Hotel,0,35,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,HB,PRT,D,D,Transient,Check-Out,2015-07-05
12,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,USA,D,E,Transient,Check-Out,2015-07-05
13,Resort Hotel,0,18,2015-07-01,2015,July,27,1,0,4,...,2,1.0,0,HB,ESP,G,G,Transient,Check-Out,2015-07-05
14,Resort Hotel,0,37,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,PRT,E,E,Transient,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,IRL,D,E,Transient,Check-Out,2015-07-05
16,Resort Hotel,0,37,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,PRT,E,E,Contract,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,IRL,A,E,Transient,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,FRA,A,G,Transient,Check-Out,2015-07-02
19,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,GBR,G,G,Transient,Check-Out,2015-07-05
20,Resort Hotel,0,37,2015-07-01,2015,July,27,1,1,4,...,1,0.0,0,BB,GBR,F,F,Transient,Check-Out,2015-07-06
21,Resort Hotel,0,72,2015-07-01,2015,July,27,1,2,4,...,2,0.0,0,BB,PRT,A,A,Transient,Check-Out,2015-07-07
22,Resort Hotel,0,72,2015-07-01,2015,July,27,1,2,4,...,2,0.0,0,BB,PRT,A,A,Transient,Check-Out,2015-07-07
23,Resort Hotel,0,72,2015-07-01,2015,July,27,1,2,4,...,2,0.0,0,BB,PRT,D,D,Transient,Check-Out,2015-07-07
24,Resort Hotel,0,127,2015-07-01,2015,July,27,1,2,5,...,2,0.0,0,HB,GBR,D,I,Contract,Check-Out,2015-07-01
25,Resort Hotel,0,78,2015-07-01,2015,July,27,1,2,5,...,2,0.0,0,BB,PRT,D,D,Transient,Check-Out,2015-07-08
26,Resort Hotel,0,48,2015-07-01,2015,July,27,1,2,5,...,2,0.0,0,BB,IRL,D,D,Contract,Check-Out,2015-07-08
27,Resort Hotel,1,60,2015-07-01,2015,July,27,1,2,5,...,2,0.0,0,BB,PRT,E,E,Transient,Canceled,2015-05-11
28,Resort Hotel,0,77,2015-07-01,2015,July,27,1,2,5,...,2,0.0,0,BB,PRT,A,A,Transient,Check-Out,2015-07-08
29,Resort Hotel,0,99,2015-07-01,2015,July,27,1,2,5,...,2,0.0,0,BB,PRT,D,D,Transient,Check-Out,2015-07-08

### Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

In [240]:
df[df['assigned_room_type'] != df['reserved_room_type']].shape[0]
# Получается, что жертвой овербукинга стали 14917 человек.

14917

### Проанализируйте даты запланированного прибытия. – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017? – Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов

In [241]:
df[(df['is_canceled'] == 0) & (df['arrival_date_year'] == 2016)]\
.groupby('arrival_date_month', as_index = False)\
.agg({'is_canceled' : 'count'})\
.sort_values('is_canceled', ascending = False)\
.head(1)
# Самый популярный месяц в 2016 году с успешными бронированиями - Октябрь

   arrival_date_month  is_canceled
10            October         3689

In [242]:
df[(df['is_canceled'] == 0) & (df['arrival_date_year'] == 2017)]\
.groupby('arrival_date_month', as_index = False)\
.agg({'is_canceled' : 'count'}).sort_values('is_canceled', ascending = False)\
.head(1)
# Самый популярный месяц в 2017 году с успешными бронированиями - Май
# Следовательно, месяц поменялся

  arrival_date_month  is_canceled
7                May         3551

In [243]:
df[(df['hotel'] == 'City Hotel') & (df['is_canceled'] == 1)]\
.groupby(['arrival_date_year', 'arrival_date_month'], )\
.agg({'is_canceled' : 'count'}).sort_values(['arrival_date_year','is_canceled'], ascending = False)
# Самыми часто отменяемыми месяцами в 2015, 2016 и 2017 годах стали - Сентябрь, Октябрь и Май, соответственно.

                                      is_canceled
arrival_date_year arrival_date_month
2017              May                        2217
                  April                      1926
                  June                       1808
                  July                       1324
                  March                      1278
                  August                     1123
                  January                    1044
                  February                    971
2016              October                    1947
                  June                       1720
                  September                  1567
                  April                      1539
                  May                        1436
                  November                   1360
                  August                     1247
                  March                      1108
                  December                   1072
                  July                       1043
                  February                    930
                  January                     438
2015              September                  1543
                  October                    1321
                  August                     1232
                  July                        939
                  December                    668
                  November                    301

### Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [244]:
adults = df.adults.mean()
children = df.children.mean()
babies = df.babies.mean()
dic = {adults : 'adults', children : 'children', babies : 'babies'}
print(f'Наибольшее среднее значение имеет переменная {dic[max(dic)]} ', round(max(dic), 3))
# При выводе, в принципе, все сказано
# (Да и лень смотреть на три строчки, искать наибольшее значение, лучше пусть выйдет одна и скажет что больше)

Наибольшее среднее значение имеет переменная adults  1.856

### Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

In [264]:
# Не очень понял задание. Я считаю некорректной формулировку 'в среднем пользуются'. В данном задании, я считаю,
# стоит рассматривать только семьи с детьми и показать в процентах, куда какая доля семей с детьми уехала.

df['total_kids'] = df.children + df.babies
df_01 = df[df['total_kids'] > 0].groupby('hotel').agg({'total_kids' : 'count'})
df_01['total_kids'] = (df_01['total_kids'] / df_01['total_kids'].sum()).round(2)
df_01
# Получается, если у клиента есть дети, то он скорее выберет Городской отель, а не Курортный отель.

              total_kids
hotel
City Hotel          0.58
Resort Hotel        0.42

In [246]:
df.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0

### Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

In [201]:
df['has_kids'] = df['total_kids'].astype('bool')

In [265]:
df['num_of_people'] = df.total_kids + df.adults
num_of_res_people = df.groupby('reservation_status').agg({'num_of_people' : 'sum'})
num_of_res_people['churn_rate'] = (num_of_res_people.num_of_people / df.num_of_people.sum()).round(2)

In [266]:
num_of_res_people

                    num_of_people  churn_rate
reservation_status
Canceled                  86814.0        0.37
Check-Out                146007.0        0.62
No-Show                    2158.0        0.01